<a href="https://colab.research.google.com/github/ms-harshini/HARSHY/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("i love anime")
print("monkeydluffy")

i love anime
monkeydluffy

In [ ]:
name = "bruh"
print(name)
print("hlo "+name)

bruh
hlo bruh

to check the data type

In [ ]:
name = "bruh"
print(type(name))

<class 'str'>

combination of vairiables

In [ ]:
frst_name = "bruh"
last_name = "luffy"
full_name = frst_name +" "+ last_name
print("hlo "+full_name)

hlo bruh luffy

int data type

In [ ]:
age = 21
age = age+1
print(age)
print(type(age))

22
<class 'int'>

to print matter in print statement use +str(vaeiable name)

In [ ]:
age = 21
age = age+1
print("your age is: "+str(age))

your age is: 22

float data type

In [ ]:
height = 250.5
print("ur height is "+str(height) + "cm")
print(type(height))

ur height is 250.5cm
<class 'float'>

boolean data type

In [ ]:
human = 'True'
print("r u a human" +" "+str(human))

r u a human True

# **MULTIPLE ASSIGNMENT**

In [ ]:
# name= 'bruh'
# age = 21
# attractive = True

name,age,attractive = 'bro',21,True
print(name)
print(age)
print(attractive)

bro
21
True

equal values

In [ ]:
# luffy = 20
# zoro = 20
# sanji = 20
# brook = 20

luffy = zoro = sanji = brook = 20

print(luffy)
print(zoro)
print(sanji)
print(brook)

20
20
20
20

# **string methods in python**

length of string

In [ ]:
name = "luffy"

print(len(name))

5

finding a character using a string

In [ ]:
name = "luffy"

print(name.find("y"))

4

captalising

In [ ]:
name = "luffy"

print(name.capitalize())

Luffy

uppercase

In [ ]:
name = "luffy"

print(name.upper())

LUFFY

lovercase

In [ ]:
name = "LUFFY"

print(name.lower())

luffy

isdigit || isalpha || count ||replace

In [ ]:
digit = "123"
alpha = "luffy"
count = "luffy"

print(digit.isdigit())
print(alpha.isalpha())
print(count.count("f"))
print(alpha.replace("y","i"))

True
True
2
luffi

printing multiple times

In [ ]:
name = "luffy"

print(name*3)

luffyluffyluffy

# **TYPE CASTING**
type casting = convert the data type of a value to another data type

In [ ]:
x = 1 #int
y = 2.5 #float
z = "3" #str

x = float(x)
y = int(y)
# z = int(z)

print(x)
print(y)
print(z*3)

1.0
2
333

# **USER INPUT**

In [ ]:
input("wt is ur name?: ")

wt is ur name?: luffy

'luffy'

In [ ]:
name = input("wt is ur name?: ")

print("hlo "+name)

wt is ur name?: zoro
hlo zoro

In [ ]:
name = input("wt is ur name?: ")
age =  int(input("wt is ur age?: "))
height = float(input("how tall r u?:"))
# converting string data type to int data type to apply mathematical operation


print("hlo "+name)
print("u r "+str(age)+" yrs old")
# a data type doesnt work with unlike data type, so converting age(int) to age(string)
print("u r "+str(height)+"cm tall")

wt is ur name?: luffy
wt is ur age?: 20
how tall r u?:250.5
hlo luffy
u r 20 yrs old
u r 250.5cm tall

# **MATH FUNCTIONS**

round || cei || floor || abs || pow || sqrt

In [ ]:
import math

pi= -3.14

print(round(pi))
# used to round a number to the nearest integer
print(math.ceil(pi))
# ceil used to round a number up to the nearest integer
print(math.floor(pi))
# floor used to round a number down to the nearest integer
print(abs(pi))
# abs() tells us how far a number is away from zero
print(pow(pi,2))
# pow is used to calculate the power of a number
print(math.sqrt(420))
# sqrt is not applicable fr -ve

-3
-3
-4
3.14
9.8596
20.493901531919196

max - min function

In [ ]:
pi = 3.14
x=1
y=2
z=3

print(max(x,y,z))
print(min(x,y,z))

3
1

# **STRING SLICING**

Slicing is used  to extract a portion (or "slice") of a sequence like a list, string, tuple, etc

*   indexing[]
*   slice()

[start:stop:step] - arguments

indexing[]
s^3 || reverse

In [ ]:
name = "luffy zoro"

# strting index : stopping index
frst_name = name[0:3]  # -> name[:3]
last_name = name[4:8]  # -> name[4:]
# strting index : stopping index : step index
fn_name = name[0:7:1]  # -> name[::3]
reversed_name = name[::-1]

print(frst_name)
print(last_name)
print(fn_name)
print(reversed_name)

# step tells how many positions to skip while slicing a sequence

luf
y zo
luffy z
oroz yfful

slice()